<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h4>Área Restrita</h4>
            <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label>EID</label>
                <input class="form-control" type="text" formControlName="eid" placeholder="Informe seu EID">
              </div>
              <div class="form-group">
                <label contenteditable="true">Senha</label>
                <input class="form-control" type="password" formControlName="pass" placeholder="Informe sua Senha">
              </div>
              <div class="row pi-draggable" draggable="true">
                <div class="col-md-6"></div>
                <div class="col-md-6 text-right">
                  <button type="submit" class="btn btn-primary">Acessar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</div>