<nav class="navbar navbar-expand-md bg-primary navbar-dark">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']">
      <b>Mockado</b>
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" *ngIf="isLoggedIn$ | async" data-toggle="collapse" data-target="#menubar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-center justify-content-end" id="menubar" *ngIf="isLoggedIn$ | async">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/endpoints']">
            <i class="fa d-inline fa-lg fa-code"></i> End Points</a>
        </li>
      </ul>
      <a class="btn navbar-btn ml-2 text-white btn-secondary">
        <i class="fa d-inline fa-lg fa-user-circle-o"></i> {{eid}}
      </a>
      <ul class="navbar-nav">
        <li class="nav-item">
          <button class="nav-link btn btn-link" (click)="onLogout()" *ngIf="isLoggedIn$ | async">
            <i class="fa d-inline fa-lg fa-power-off"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>