<div class="my-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <h4>{{api}}/mock/{{endpoint.url}}</h4>
              </div>
            </div>
            <form [formGroup]="formPayload" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label>Parms</label>
                <textarea class="form-control" formControlName="params" [disabled]="disabledParam"></textarea>
              </div>
              <div class="form-group">
                <label>Request</label>
                <textarea class="form-control" formControlName="request"></textarea>
              </div>
              <div class="form-group">
                <label>Response</label>
                <textarea class="form-control" formControlName="response"></textarea>
              </div>
              <div class="row">
                <div class="col-md-9"> </div>
                <div class="col-md-3 text-right">
                  <button type="submit" class="btn btn-primary">Adicionar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>