<div class="my-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-9">
                <h4>{{api}}/mock/{{endpoint.url}}</h4>
              </div>
              <div class="col-md-3 text-right">
                <button class="btn btn-primary" (click)="editEndpoint()" *ngIf="!disabledEdit">
                  <i class="fa d-inline fa-lg fa-edit"></i> Editar
                </button>
              </div>
            </div>
            <div class="row" *ngIf="!disabledEdit">
              <div class="col-md-12">
                <div class="form-group">
                  <div>Descrição</div>
                  <span>{{endpoint.description}}</span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <div>Request Type</div>
                  <span>{{endpoint.requestType}}</span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <div>Delay (ms)</div>
                  <span>{{endpoint.delay}}</span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <div>Online</div>
                  <span>{{endpoint.status}}</span>
                </div>
              </div>
            </div>
            <form [formGroup]="formEndpoint" (ngSubmit)="onSubmit()" *ngIf="disabledEdit">
              <div class="form-group">
                <label>End Point</label>
                <div class="input-group w-100">
                  <div class="input-group-prepend">
                    <div class="input-group-text">{{api}}/mock/</div>
                  </div>
                  <input class="form-control" type="text" formControlName="url" (keydown)="validUrl($event)">
                </div>
                <small class="form-text text-muted">Use <span class="text-bold">&#123;</span> e <span class="text-bold">&#125;</span>
                  para representar parametros a serem passados na URL, por exemplo <span class="text-bold">contrato/&#123;cpf&#125;/&#123;codigo&#125;</span>.</small>
              </div>
              <div class="form-group">
                <label>Descrição</label>
                <textarea class="form-control textarea" formControlName="description"></textarea>
                <small class="form-text text-muted">Descrição do Endpoint, e inforamar onde será usado através de uma
                  lista de Projeto, Arquivo e Linha.</small>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Request Type</label>
                    <select class="form-control w-100" formControlName="requestType">
                      <option>GET</option>
                      <option>POST</option>
                      <option>PUT</option>
                      <option>DELETE</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Delay (ms)</label>
                    <input class="form-control w-100" type="number" formControlName="delay">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Online</label>
                    <select class="form-control w-100" formControlName="online">
                      <option value="true">On</option>
                      <option value="false">Off</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 text-right d-inline">
                  <button class="btn btn-danger mx-2" (click)="cancelEdit()" *ngIf="endpoint.id"><i class="fa d-inline fa-lg fa-remove"></i>
                    Cancelar edição</button>
                  <button class="btn btn-primary" type="submit" [disabled]="this.formEndpoint.invalid"><i class="fa d-inline fa-lg fa-save"></i>
                    Salvar Alterações</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="my-5" *ngIf="endpoint.id !== undefined">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-9">
                <h4>Payloads</h4>
              </div>
              <div class="col-md-3 text-right">
                <button class="btn btn-primary" [routerLink]="['/endpoint', endpoint.id, 'payload']">
                  <i class="fa d-inline fa-lg fa-plus"></i> Adicionar
                </button>
              </div>
            </div>
            <table class="table table-responsive my-3" *ngIf="endpoint.payloads?.length > 0">
              <thead>
                <tr>
                  <th>Params</th>
                  <th>Request</th>
                  <th>Response</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let payload of endpoint.payloads">
                  <td class="text-wrap">{{payload.params}}</td>
                  <td class="text-wrap">{{payload.request}}</td>
                  <td class="text-wrap">{{payload.response}}</td>
                  <td class="text-center">
                    <button class="btn btn-link" (click)="deletePayload(payload)">
                      <i class="fa fa-trash"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>